body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
}

.files {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.logs {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #222;
    color: rgb(68, 171, 255);
    font-family: monospace;
    height: 80vh;
    overflow-y: scroll;
    white-space: pre-wrap;
    font-size: large;
}

.modal-content {
    max-height: 70vh;
    overflow-y: auto;
}