<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Files</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
</head>

<body>
    <h1>Files</h1>
<form method="POST">

    {% for file in files %}
    <label>
        <input type="checkbox" name="selected_files" value="{{file}}">
        {{file}}
    </label><br>
    {% endfor %}

    <button type="submit" name="delete" value="delete">Delete</button>

    <!-- Trigger Modal -->
    <button type="button" id="process_button">Process</button>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            {% for script in scripts %}
            <label>
                <!-- Radio buttons MUST have their *own* name -->
                <input type="radio" name="selected_script" value="{{script}}">
                {{script}}
            </label><br>
            {% endfor %}
            <button type="submit" name="process" value="process">Run</button>
        </div>
    </div>

</form>

</body>

</html>